{% extends 'base.html' %}

{% block menu %}
{% endblock %}


{% block content %}

    <h1 class="center">Опросы</h1>
    {% if is_paginated %}
         {% include 'partial/pagination.html' %}
    {% endif %}
    <br>
    {% for poll in polls %}
        <div>
        <h2>{{ poll.question }}</h2>
        <p>{{ poll.created_at|date:"d.m.Y H:i:s" }}</p>
        </div>
        <a href="{% url 'poll_view' poll.pk %}">Просмотр</a>
        <a href="{% url 'poll_update' poll.pk %}">Редактирование</a>
        <a href="{% url 'poll_delete' poll.pk %}">Удаление</a>
        <hr>
    {% endfor %}


{% endblock%}