{% extends 'base.html' %}

    {% block title %}Удалить ответ{% endblock %}

{% block menu %}
    <li><a href="{% url 'poll_view'  poll.pk %}">View</a></li>
{% endblock %}

{% block content %}
    <form method="POST" action="{% url "choice_delete" choice.pk%}" class="text-center">
        <h1>Are you sure want to delete article "{{ choice }}"?</h1>
        {% csrf_token %}
        <input type="submit" value="Confirm" class="btn btn-danger">
        <p><a href="{% url "index" %}" class="btn btn-primary">Cancel</a></p>
    </form>
{% endblock %}

</body>
</html>